#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
#url --url=http://192.168.250.200/centos
#url --url="http://mirror.its.sfu.ca/mirror/CentOS/7/os/x86_64/"
repo --name="centos" --baseurl=http://mirror.its.sfu.ca/mirror/CentOS/7/os/x86_64/
repo --name="nodejs" --baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64
repo --name="epel-release" --baseurl=http://mirror.its.dal.ca/pub/epel/7/x86_64/

# Use text install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --gateway=192.168.250.1 --ip=192.168.250.10 --onboot=yes --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate

# Root password
rootpw --iscrypted $6$J8Ugth1mlU/3Dr$26HN3sj8qjCuFTFCZI11AecxZsNl1UxEsH5Y9K6FtJ3qewEqLgVulq.lvCbsEsojObRpuUG8t0J2Xeg0/15gd/
user --name=admin --password=$6$83c27BKRPuyr$4Idb4QXYBrSvN5YGcp22OrI/lvxx.RwjtWdcJfEXKROYnNKkZFOGdvm8Ea3KwoAahynuQEaR9rPmoQt5DLgXA. --iscrypted --gecos="admin" --groups="wheel"

# System services
services --disabled="chronyd"
services --enabled=sshd,ntpd,chronyd,nginx,xinetd,dhcpd

#Firewall
firewall --enabled --http --ssh --service=tftp

# System timezone
timezone America/Vancouver --isUtc --nontp

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel
ignoredisk --only-use=sda

# Selinux State
#selinux --disabled

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
epel-release
git
nginx
nodejs
mongodb-server
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%post --log=my/log/file.log 
yum -y update

sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
sed -i 's/^\(Defaults    requiretty\)/#\1/' /etc/sudoers
%end

reboot