#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
url --url=http://192.168.250.200/centos
#repo --name="epel" --baseurl=http://download.fedoraproject.org/pub/epel/$releasever/$basearch

# Use text install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.250.1 --ip=192.168.250.10 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate

# Root password
rootpw --iscrypted $6$i5RbEJgzTV.hAIYr$IRDTKsaiB3gi.pFehVNo4L5Ak4NfAUz3nVwembV5XV9h/in9C.VRC8SDgAdpXV4mV64M.FwZE1YYojIf5O8B31

# System services
# services --disabled="chronyd"
#services --enabled=NetworkManager,sshd,chronyd
services --enabled=sshd,ntpd,chronyd,nginx,xinetd,dhcpd

#Firewall
firewall --enabled --http --ssh --service=tftp

# System timezone
timezone America/Vancouver --isUtc --nontp

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel
ignoredisk --only-use=sda

# Selinux State
selinux --disabled

%packages
@^minimal
@core
chrony
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

#use curl to download sript into vm and run the script
#curl=http://192.168.250.200/app_setup.sh > app_setup.sh
#bash app_setup.sh 

%post --log=my/log/file.log --interpreter=/usr/bin/bash
curl http://192.168.250.200/sudoers > /tmp/sudoers 
curl http://192.168.250.200/app_setup.sh > /tmp/app_setup.sh
curl http://192.168.250.200/acit_admin_id_rsa.pub > /tmp/acit_admin_id_rsa.pub
curl http://192.168.250.200/database.js > /tmp/database.js
curl http://192.168.250.200/todoapp.service > /tmp/todoapp.service
curl http://192.168.250.200/nginx.conf > /tmp/nginx.conf
bash /tmp/app_setup.sh
%end

reboot